.DS_Store
splitcolor.py
thesis.aux
thesis.bcf
thesis.lof
thesis.log
thesis.maf
thesis.mtc
thesis.mtc0
thesis.mtc1
thesis.mtc2
thesis.mtc3
thesis.mtc4
thesis.mtc5
thesis.mtc6
thesis.out
thesis.run.xml
thesis.synctex.gz
thesis.toc
thesis-blx.bib
thesis.aux.bbl
thesis.aux.blg
thesis.bbl
thesis.blg
thesis.dvi
*.aux
*.bbl
*.blg
*.log
figures/draft/*
